.App {
  text-align: center;
  background-color: white;
  color: darkgray;
  width: 80%;
  margin: 2em auto 1em auto;
  padding: 0 2em 2em 2em;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.App > * {
  width: 80%;
  margin: auto;
  text-align: left;
  color: black;
}
